@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");

html {
  height: 100%;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

p {
  font-size: 20px;
}

figure {
  display: inline-block;
  align-items: center;
  text-align: center;
  margin: 16px;
}

.center {
  text-align: center;
  align-items: center;
}

body {
  color: #fff;
  margin: 0;
  padding: 0;
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: "Fira Code";
}

header {
  box-sizing: border-box;

  min-height: 100 vh;
  padding: 20vw 0 5vw;
  position: relative;
  transform-style: inherit;
  width: 100vw;
}

header h1 {
  margin-top: -60px;
  font-size: 50px;
  letter-spacing: -4px;
}

header,
header::before {
  background: 50% 50% / cover;
}
header::before {
  border-radius: 0 0 15% 15%;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  background-image: url(../BG2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  transform-origin: center center 0;
  /* Параллакс*/
  transform: translateZ(-1px) scale(2);
  z-index: -1;
  min-height: 100vh;
}

header * {
  font-weight: normal;
  margin: 0;
  padding: 1em 0;
}

.menu {
  display: flex;
  position: relative;
  bottom: 12em;
}

.nav menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  top: 0;
  margin: -1em;
  height: 10px;
  padding-right: 0%;
}

ol,
li {
  list-style-type: none;
  list-style-position: inside;
  padding: 10px;
  font-size: 16px;
}

.main {
  color: #fff;
  position: absolute;
  margin-top: 200px;
  height: 100%;
  background: rgb(0, 0, 0);
  width: 100%;
  z-index: 0;
}

.resumeBtn {
  background-color: transparent;
  color: rgb(123, 255, 0);
  font-family: Georgia, "Times New Roman", Times, serif;
  border-style: solid;
  border-radius: 4px;
  border-width: 1px;
  padding: 0.6rem 1rem;
}

.rightBlock {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 30%;
  text-align: left;
  width: 50%;
}

.chapter {
  background-color: rgb(123, 255, 0);
  color: rgb(0, 0, 0);
  height: 80px;
  font-size: 60px;
  letter-spacing: -4px;
  text-align: center;
}

.ico {
  width: 50%;
  height: auto;
}

figure.contacts {
  display: inline-flex;
}

.photo {
  width: 35%;
}

.mainBlock {
  height: 25vh;
}
